<!-- Marko Mirković 197/19 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beograd na WEB-u</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/okvir.css}">
    <link rel="stylesheet" th:href="@{/css/listaSmestaja.css}">
    <link rel="stylesheet" th:href="@{/css/filteri.css}">
    <link rel="stylesheet" th:href="@{/css/konkretniSmestaj.css}">
    <link rel="stylesheet" th:href="@{/css/panelKorisnika.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link href='https://fonts.googleapis.com/css?family=Bilbo Swash Caps' rel='stylesheet'>
</head>
<body class="container">

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    sessionStorage.clear();
    var smestajList = [[${smestajList}]];
    var user = [[${user}]];
    var isliked = [[${isliked}]];
    sessionStorage.setItem("smestajList",JSON.stringify(smestajList));
    sessionStorage.setItem("user",JSON.stringify(user));
    sessionStorage.setItem("isliked",JSON.stringify(isliked));

    var filterData = [[${filterf}]];
    sessionStorage.setItem("filterf",JSON.stringify(filterData));

    console.log(smestajList);

    let putanjaZaPromenuEmaila = /*[[@{promena/email}]]*/ "/";
    let prikazPredlozenih = /*[[${prikazPredlozenih}]]*/ false;
    /*]]>*/
</script>

<main class="container">
    <header class="row">
        <span id="dugmeNalog" class="col-3">Vaš nalog</span>
        <p class="col-6">Beograd na WEB-u</p>
        <form class="col-3" th:action="@{/logout}" method="post">
            <input type="submit" value="Odjavi se" />
        </form>
    </header>

    <nav class="row">
        <form th:action="@{/pregledpredlozenihsmestaja}" method="get" style="width: 50%; padding: 0;">
            <input id="dugmePredlozeniSmestaji" type="submit" value="Predloženi smeštaji" />
        </form>
        <form th:action="@{/pregledsmestaja}" method="get" style="width: 50%; padding: 0;">
            <input id="dugmeSviSmestaji" type="submit" value="Svi smeštaji" />
        </form>
    </nav>

    <div id="nalogPanelPozadina">
        <div id="nalogPanel">
            <p th:text="'Korisničko ime:' + ${user.korisnickoime}">Greška</p>
            <p th:text="'Email:' + ${user.email}">Greška</p>


            <div id="nalogPanelAdminDugmeWrapper">
                <input id="ukljanjanjeKorisnikaDugme" type="button" value="Ukljanjanje korisnika" >
            </div>

            <div id="nalogPanelDugmadWrapper">
                <input id="promenaSifreDugme" type="button" value="Promena šifre" >
                <input id="promenaEmailaDugme" type="button" value="Promena email-a" >
                <input id="potvrdaPretplateDugme" type="button" value="Pretplati se" >
                <input id="obrisiIstorijuDugme" type="button" value="Obriši istoriju" >
            </div>
        </div>
    </div>

    <div id="prozorZaPotvrduPozadina">
        <div id="prozorZaPotvrdu">

            <div id="panelAdmin">
                <div id="korisniciWrapper">
                    <input class="korisniciBrisanje" type="button" th:each="korisnik: ${listaKorisnika}" th:value="${korisnik.getKorisnickoime()}" />
                </div>

                <div class="prozorZaPotvrduDugmadWrapper">
                    <input type="button" value="Otkaži" style="width: 100%; border-bottom-right-radius: 22px;" />
                </div>
            </div>

            <div id="panelPromenaSifre">
                <form method="post" th:action="@{promena/sifra}" th:object="${promenaSifre}">
                    <div class="sifreWrappers">
                        <p id="staraSifraNatpis">Stara šifra: </p>
                        <input type="password" th:field="*{StaraSifra}" />
                    </div>
                    <div class="sifreWrappers">
                        <p id="novaSifraNatpis">Nova šifra: </p>
                        <input type="password" th:field="*{NovaSifra}" />
                    </div>
                    <div class="sifreWrappers">
                        <p id="ponovljenaNovaSifraNatpis">Ponovite novu šifru: </p>
                        <input type="password" th:field="*{PonovljenaNovaSifra}" />
                    </div>

                    <div class="prozorZaPotvrduDugmadWrapper">
                        <input type="button" value="Otkaži" />
                        <input type="submit" value="Potvrdi" />
                    </div>
                </form>
            </div>

            <div id="panelPromenaEmaila">
                <form method="post" th:action="@{promena/email}" th:object="${promenaEmaila}">
                    <div class="mailoviWrappers">
                        <p id="stariEmailNatpis">Stari email: </p>
                        <input type="email" th:field="*{StariEmail}" />
                    </div>
                    <div class="mailoviWrappers">
                        <p id="noviEmailNatpis">Novi email: </p>
                        <input type="email" th:field="*{NoviEmail}" />
                    </div>

                    <div class="prozorZaPotvrduDugmadWrapper">
                        <input type="button" value="Otkaži" />
                        <input type="submit" value="Potvrdi" />
                    </div>
                </form>
            </div>

            <div id="panelPotvrda">
                <p id="porukaPotvrde">
                    Potvrđivanjem ove opcije prihvatate da Vas aplikacija "Beograd na WEB-u"<br />
                    obaveštava o novom smeštaju putem Vašeg mail-a.
                </p>

                <div class="prozorZaPotvrduDugmadWrapper">
                    <input type="button" value="Otkaži" />
                    <input type="button" value="Pretplati se" />
                </div>
            </div>

            <div id="panelBrisanje">
                <p id="porukaBrisanja">
                    Da li ste sigurni da želite da obrišete istoriju sviđanja?<br />
                    <b>Ovime ćete uticati na algoritam preporuke.</b>"
                </p>

                <div class="prozorZaPotvrduDugmadWrapper">
                    <input type="button" value="Otkaži" />
                    <input type="button" value="Potvrdi" />
                </div>
            </div>

        </div>
    </div>

    <div id="pregledSmestaja" class="row pregled">
        <section class="col-lg-10 order-2 order-lg-1">
            <div class="levaKolonaSmestaja">
                <article class="smestaji" th:each="smestaj, iter : ${smestajList}" th:if="${iter.index % 2 == 0 && (prikazPredlozenih == null || prikazPredlozenih == false)}">
                    <img class="slikaSmestaja" th:src="${smestaj.getSlika()}" alt="primer apartmana" />
                    <p class="opisSmestaja">
                        <th:block th:if="${smestaj.getLokacija() != ''}" th:utext="'<b>Lokacija:</b> ' + ${smestaj.getLokacija()} + '<br />'"></th:block>
                        <th:block th:if="${smestaj.getBrojSoba() > 0}" th:utext="'<b>Broj soba:</b> ' + ${smestaj.getBrojSoba()} + '<br />'"></th:block>
                        <th:block th:utext="'<b>Cena:</b> ' + ${smestaj.getCena()}"></th:block>  €<br />
                        <th:block th:utext="'<b>Kvadratura:</b> ' + ${smestaj.getKvadratura()}"></th:block>m<sup>2</sup>
                    </p>
                </article>
            </div>
            <div class="desnaKolonaSmestaja">
                <article class="smestaji" th:each="smestaj, iter : ${smestajList}" th:if="${iter.index % 2 == 1 && (prikazPredlozenih == null || prikazPredlozenih == false)}">
                    <img class="slikaSmestaja" th:src="${smestaj.getSlika()}" alt="primer apartmana" />
                    <p class="opisSmestaja">
                        <th:block th:if="${smestaj.getLokacija() != ''}" th:utext="'<b>Lokacija:</b> ' + ${smestaj.getLokacija()} + '<br />'"></th:block>
                        <th:block th:if="${smestaj.getBrojSoba() > 0}" th:utext="'<b>Broj soba:</b> ' + ${smestaj.getBrojSoba()} + '<br />'"></th:block>
                        <th:block th:utext="'<b>Cena:</b> ' + ${smestaj.getCena()}"></th:block>  €<br />
                        <th:block th:utext="'<b>Kvadratura:</b> ' + ${smestaj.getKvadratura()}"></th:block>m<sup>2</sup>
                    </p>
                </article>
            </div>
        </section>

        <aside class="col-lg-2 order-1 order-lg-2" id="filteri">
            <div class="stranice">
                <!-- ovo nije greska, namerno je da ne bi bilo prostora izmedju elemenata -->
                <input type="button" value="<" class="stranicaLevo"
                /><div class="brojStranice"> 1 </div
            ><input type="button" value=">" class="stranicaDesno" />
            </div>

            <input id="dugmeFilteri" type="button" value="Filteri">

            <div id="izabraniFilteriWrapper">
                <p id="izabraniFilteriNaslov">Izabrani filteri:</p>

                <div id="izabraniFilteri">

                </div>
            </div>
        </aside>
    </div>

    <div id="pregledPredlozenogSmestaja" class="row pregled">
        <div class="stranice col-12" style="padding: 0;" >
            <!-- ovo nije greska, namerno je da ne bi bilo prostora izmedju elemenata -->
            <input type="button" value="<" class="stranicaLevo"
            /><div class="brojStranice"> 1 </div
        ><input type="button" value=">" class="stranicaDesno" />
        </div>

        <section class="col-12">
            <div class="levaKolonaSmestaja">
                <article class="smestaji" th:each="smestaj, iter : ${smestajList}" th:if="${iter.index % 2 == 0 && prikazPredlozenih == true}">
                    <img class="slikaSmestaja" th:src="${smestaj.getSlika()}" alt="primer apartmana" />
                    <p class="opisSmestaja">
                        <th:block th:if="${smestaj.getLokacija() != ''}" th:utext="'<b>Lokacija:</b> ' + ${smestaj.getLokacija()} + '<br />'"></th:block>
                        <th:block th:if="${smestaj.getBrojSoba() > 0}" th:utext="'<b>Broj soba:</b> ' + ${smestaj.getBrojSoba()} + '<br />'"></th:block>
                        <th:block th:utext="'<b>Cena:</b> ' + ${smestaj.getCena()}"></th:block>  €<br />
                        <th:block th:utext="'<b>Kvadratura:</b> ' + ${smestaj.getKvadratura()}"></th:block>m<sup>2</sup>
                    </p>
                </article>
            </div>
            <div class="desnaKolonaSmestaja">
                <article class="smestaji" th:each="smestaj, iter : ${smestajList}" th:if="${iter.index % 2 == 1 && prikazPredlozenih == true}">
                    <img class="slikaSmestaja" th:src="${smestaj.getSlika()}" alt="primer apartmana" />
                    <p class="opisSmestaja">
                        <th:block th:if="${smestaj.getLokacija() != ''}" th:utext="'<b>Lokacija:</b> ' + ${smestaj.getLokacija()} + '<br />'"></th:block>
                        <th:block th:if="${smestaj.getBrojSoba() > 0}" th:utext="'<b>Broj soba:</b> ' + ${smestaj.getBrojSoba()} + '<br />'"></th:block>
                        <th:block th:utext="'<b>Cena:</b> ' + ${smestaj.getCena()}"></th:block>  €<br />
                        <th:block th:utext="'<b>Kvadratura:</b> ' + ${smestaj.getKvadratura()}"></th:block>m<sup>2</sup>
                    </p>
                </article>
            </div>
        </section>
    </div>
</main>

<div id="prikazStana">
    <div id="stanPanel">
        <div id="slikaWrapper">
            <img id="slikaKonkretnogSmestaja" src="" alt="prikaz apartmana" />

            <div id="lajkNaSlici">
                <div>
                    <svg version="1.1" class="Layer_1" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 500 472.44" enable-background="new 0 0 500 472.44" xml:space="preserve">
                        <path fill="#F5F0F6" stroke="#F5F0F6" stroke-width="2" stroke-miterlimit="10"
                              d="M53.4,260.54
                              C-88.12,122.11,105.22-75.54,246.74,62.89c136.1-139.14,340.48,60.77,204.37,
                              199.91l-97.58,99.76l-95.76,97.89L53.4,260.54z"/>
                        <path fill="#FFFFFF" stroke="#010202" stroke-miterlimit="10" d="M148.51,184.31"/>
                        <path fill="#FFFFFF" stroke="#010202" stroke-miterlimit="10" d="M282.97,115.94"/>
                    </svg>
                </div>

                <p id = "likeCounter">0</p>
            </div>

            <div id="linkNaSlici">
                <a id = "link" href="" target="_blank">Originalni sajt</a>
            </div>
        </div>

        <div id="opisKonkretnogSmestaja">
            <b>**Greška pri učitavanju**</b>
        </div>

        <div id="dugmeZaKomentare">
            <p>Prikaži komentare</p>
        </div>
        <div id="komentariPanel">
            <!-- komentari -->
            <!-- primer komentara -->
            <!--
            <div class="komentari">
                <div class="dugmadNaKomentarimaWrapper" style="width: fit-content; height: 30px;">
                    <div class="lajkNaKomentarima">
                        <div>
                            <img src="srcePrazno.svg" />
                        </div>
                        <p>0</p>
                    </div>
                </div>
                <p>Primer komentara 1.</p>
            </div>
            -->
            <div id="noviKomentar">
                <p>Dodajte novi komentar</p>
            </div>
        </div>
    </div>
</div>

<div id="pozadinaProzoraZaPotvrduBrisanjaKom">
    <div id="prozorZaPotvrduBrisanjaKomentara">
        <!-- dinamicko ucitavanje -->
        <p id="tekstProzoraZaPotvrduBrisanjaKomentara">Da li ste sigurni da želite da obrišete komentar?</p>
        <div class="prozorZaPotvrduDugmadWrapper">
            <input type="button" value="Otkaži" />
            <input type="button" value="Potvrdi" />
        </div>
    </div>
</div>

<form th:object="${filterData}" th:action="@{/pregledsmestaja/filter/0}" method="post">
    <div id="filteriPanelPozadina">
        <div id="filteriPanel">

            <div class="redFiltera">
                <p class="filteriPanelTekst">Lokacija: </p>

                <select name="lokacija" class="filteriDropDown" th:field="*{Lokacija}">
                    <option value="nullLokacija" class="lokacijaDropDownOpcija">
                        Sve
                    </option>

                    <option value="Zvezdara" class="lokacijaDropDownOpcija">
                        Zvezdara
                    </option>

                    <option value="Novi Beograd" class="lokacijaDropDownOpcija">
                        Novi Beograd
                    </option>

                    <option value="Zvezdara opština" class="lokacijaDropDownOpcija">
                        Zvezdara opština
                    </option>

                    <option value="Zemun" class="lokacijaDropDownOpcija">
                        Zemun
                    </option>
                </select>
            </div>

            <div class="redFiltera">
                <p class="filteriPanelTekst">Tip smeštaja: </p>

                <select name="smestaj" class="filteriDropDown" th:field="*{TipSmestaja}">
                    <option value="nullSmestaj" class="lokacijaDropDownOpcija">
                        Sve
                    </option>

                    <option value="Stan" class="lokacijaDropDownOpcija">
                        Stan
                    </option>

                    <option value="Kuca" class="lokacijaDropDownOpcija">
                        Kuca
                    </option>
                </select>
            </div>

            <div class="redFiltera">
                <p class="filteriPanelTekst">Broj soba: </p>

                <select name="brojSoba" class="filteriDropDown" th:field="*{BrojSoba}">
                    <option value="nullSoba" class="lokacijaDropDownOpcija">
                        Sve
                    </option>

                    <option value="Garsonjera" class="lokacijaDropDownOpcija">
                        Garsonjera
                    </option>

                    <option value="Jednosoban" class="lokacijaDropDownOpcija">
                        Jednosoban
                    </option>

                    <option value="Jednoiposoban" class="lokacijaDropDownOpcija">
                        Jednoiposoban
                    </option>

                    <option value="Dvosoban" class="lokacijaDropDownOpcija">
                        Dvosoban
                    </option>

                    <option value="Dvoiposoban" class="lokacijaDropDownOpcija">
                        Dvoiposoban
                    </option>

                    <option value="TrosobanIPreko" class="lokacijaDropDownOpcija">
                        Trosoban i preko
                    </option>
                </select>
            </div>

            <div class="redFiltera">
                <p class="filteriPanelTekst">Kvadratura: </p>

                <div class="dupliInputWrapper">
                    <input type="text" class="dupliInput" placeholder="od" th:field="*{KvadraturaOd}"/>
                    <input type="text" class="dupliInput" placeholder="do" th:field="*{KvadraturaDo}"/>
                </div>
            </div>

            <div class="redFiltera">
                <p class="filteriPanelTekst">Spratnost: </p>

                <div id="spratnostWrapper">
                    <input type="checkbox" name="nijePrvi" id="nijePrvi" th:field="*{NijePrvi}"/>
                    <label for="nijePrvi">Nije prvi</label>

                    <input type="checkbox" name="imaLift" id="imaLift" th:field="*{ImaLift}"/>
                    <label for="imaLift">Ima lift</label>
                </div>
            </div>

            <div class="redFiltera">
                <p class="filteriPanelTekst">Cena: </p>

                <div class="dupliInputWrapper">
                    <input type="text" class="dupliInput" placeholder="od" th:field="*{CenaOd}"/>
                    <input type="text" class="dupliInput" placeholder="do" th:field="*{CenaDo}"/>
                </div>
            </div>

            <div class="redFiltera">
                <input id="ocistiFiltereDugme" type="button" class="filteriPanelDugmad" value="Očisti sve filtere" />
                <input id="potvrdiFiltereDugme" type="submit" class="filteriPanelDugmad" value="Potvrdi" />
            </div>

        </div>
    </div>
</form>

<!-- Bootstrap and JQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script th:src="@{/js/gostKorisnikAdmin.js}"></script>
<script th:src="@{/js/korisnikAdmin.js}"></script>
<script th:src="@{/js/admin.js}"></script>
<script>
    if(prikazPredlozenih)
        prikaziSvePredlozeneSmestaje();
    else
        prikaziSveSmestaje();
</script>

</body>
</html>