<!-- Marko Mirković 197/19 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beograd na WEB-u</title>

    <link href='https://fonts.googleapis.com/css?family=Bilbo Swash Caps' rel='stylesheet'>

    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <div id="leviPanel">
        <img id="pocetnaSlika" src="../static/images/pocetnaSlikaOriginal.jpg" alt="Slika na pocetnoj strani." />
    </div>

    <div id="desniPanelWrapper">
        <div id="desniPanel">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
            viewBox="0 0 323.23 249.47" enable-background="new 0 0 323.23 249.47" xml:space="preserve">
                <g>
                    <g>
                        <path fill="#F08354" d="M190.26,179.16c12.84-1.6,28.46-4.63,45.65-10.44c14.27-4.83,26.44-10.5,36.39-15.91
                            c-3.96,17.77-11.98,32.16-22.21,45.21c-48.81,62.28-136.54,64.34-188.07,4.46c-3.1-3.61-6.35-4.6-10.73-4.69
                            c-16.24-0.34-32.29-2.02-47.64-8.26c36.51,0.56,71.99-5.97,107.01-14.95c49.48-12.68,96.55-31.18,138.38-61.23
                            c15.8-11.35,30.12-24.19,38.44-42.44c6.23-13.66,7.5-27.08-1.41-40.4c24.36,5.15,36.73,26.08,30.34,47.67
                            c-5.77,19.51-18.2,35.92-43.3,55.12c-18.22,13.93-46.18,32.35-84.74,47.53c1.2-0.82,1.2-0.82,3.6-2.46
                            c-2.4,1.64-2.4,1.64-3.6,2.46c0.49-0.45,1.15-0.96,1.99-1.41c0.36-0.19,0.71-0.34,1.04-0.47c2.36-0.06,3.53-0.08,3.54-0.06
                            C194.95,178.93,193.39,179.01,190.26,179.16z"/>
                        <path fill="#2D3243" d="M58.75,174.59c20.88-36.83,40.9-72.92,73.78-99.59c6.51-5.28,16.25-2.82,18.81,5.12
                            c6.49,20.13,14.43,39.58,25.02,57.93c1.27,2.2,4.21,4.86-1,6.74c-36.64,13.24-73.77,24.67-112.43,30.41
                            C62.09,175.33,61.19,174.97,58.75,174.59z"/>
                        <path fill="#2D3243" d="M131.48,61.74c-0.11,4.17-2.23,6.24-4.6,7.97c-33.35,24.26-54.59,58.03-73.63,93.53
                            c-2.66,4.96-5.03,10.09-7.87,14.94c-2.22,3.78-4.64,5.66-7.02-0.26c-12.17-30.22-12.66-60.55-1.5-91.15
                            c1.07-2.95,3.27-3.94,5.69-5.07c6.46-3.02,13.18-5.25,20.04-7.22c4.17-1.19,7.62-1.22,11.78,0.78c8.28,3.97,15.18,1.55,19.74-6.06
                            c0.89-1.49,1-3.25,3.21-3.67C108.55,63.39,119.81,61.56,131.48,61.74z"/>
                        <path fill="#2D3243" d="M170.47,62.12c17.91,3.02,35.63,8.8,52.43,17.11c9.01,4.46,17.46,10.04,26.28,14.9
                            c4.05,2.24,5.33,3.96,0.95,7.47c-18.44,14.79-39.52,25-60.43,35.56c-2.89,1.46-4.13,0.38-5.42-2.04
                            c-10.33-19.42-18.57-39.7-24.82-60.77C157.88,68.99,164.28,61.89,170.47,62.12z"/>
                        <path fill="#2D3243" d="M48.94,68.95c13.31-26.12,34.04-43.75,60.64-54.77c7.97-3.3,16.33-5.29,24.78-6.97
                            c4.42-0.88,6.53,0.09,6.44,5.23c-0.18,10.36,0.84,20.65,1.99,30.98c0.59,5.33-5.02,10.97-11.76,11.23
                            c-10.71,0.41-21.29,1.55-31.75,3.71c-3.54,0.73-5.31-1.36-7.69-3.18c-6.12-4.66-15.83-4.38-18.92,1.9
                            C67.39,67.75,57.14,65.6,48.94,68.95z"/>
                        <path fill="#2D3243" d="M164.7,54.1c23.57-8.85,45.13-13.91,67.88-13.22c2.43,0.07,3.56,1.94,4.93,3.41
                            c10.81,11.67,18.56,25.23,24.54,39.88c1.05,2.56,1.77,4.84-0.9,7.11c-2.79,2.37-4.38,0.08-6.12-1.19
                            C228.83,70.84,199.34,59.64,164.7,54.1z"/>
                        <path fill="#2D3243" d="M224.4,28.48c-20.35,3.04-40,6.7-58.72,14.46c-4.97,2.06-11.66-1.95-12.12-7.14
                            c-0.76-8.53-1.05-17.1-1.57-25.66c-0.21-3.41,0.58-5.73,4.74-5.68C182,4.76,204.57,12.65,224.4,28.48z"/>
                        <path fill="#F08354" d="M259.34,8.77c8.86,0.04,15.6,6.89,15.63,15.89c0.03,8.96-6.69,15.93-15.51,16.08
                            c-8.97,0.15-16.34-7.29-16.25-16.42C243.29,15.62,250.44,8.73,259.34,8.77z"/>
                    </g>
                </g>
            </svg>

            <h1 id="naslov">Beograd na WEB-u</h1>
            
            <form class="forma" action="" method="post">
                <table>
                    <tr> <td colspan="2">
                        <p>Korisničko ime:</p>
                    </td> </tr>
                    <tr> <td colspan="2">
                        <input id="username" class="inputLogin" type="text" name="username" placeholder="Unesite svoje korisničko ime." size="50" maxlength="30" />
                    </td> </tr>

                    <tr> <td colspan="2">
                        <p>Šifra:</p>
                    </td> </tr>
                    <tr> <td colspan="2">
                        <input class="inputLogin" type="password" name="password" placeholder="Unesite svoju šifru." size="50" maxlength="30" />
                    </td> </tr>

                    <tr> 
                        <td>
                            <p><u id="zaboravljenaSifra">Zaboravili ste šifru?</u></p>
                        </td> 

                        <td>
                            <input class="loginButtons" type="button" value="Prijavi se" onclick="predjiNaStranicu('')" />
                        </td>
                    </tr>

                    <tr> 
                        <td>
                            <input class="loginButtons" type="button" value="Registrujte se" onclick="animacijaRegistracijeNastaje()" style="float: left; margin-top: 15px;" />
                        </td> 

                        <td>
                            <a href="glavnaStranicaGost.html"><input class="loginButtons" type="button" value="Nastavite kao gost" style="margin-top: 15px;" /></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div id="desniPanelRegistracija">
            <form id="formaReg" class="forma" action="" method="post">
                <table>
                    <tr> <td colspan="2">
                        <p>Email adresa:</p>
                    </td> </tr>
                    <tr> <td colspan="2">
                        <input class="inputLogin" type="email" name="email" placeholder="Unesite svoju email adresu." size="50" maxlength="50" />
                    </td> </tr>

                    <tr> <td colspan="2">
                        <p>Korisničko ime:</p>
                    </td> </tr>
                    <tr> <td colspan="2">
                        <input class="inputLogin" type="text" name="usernameReg" placeholder="Unesite korisničko ime (do 30 karaktera)." size="50" maxlength="30" />
                    </td> </tr>

                    <tr> <td colspan="2">
                        <p>Šifra:</p>
                    </td> </tr>
                    <tr> <td colspan="2">
                        <input class="inputLogin" type="password" name="passwordFirst" placeholder="Unesite šifru (do 30 karaktera)." size="50" maxlength="30" />
                    </td> </tr>

                    <tr> <td colspan="2">
                        <p>Šifra ponovo:</p>
                    </td> </tr>
                    <tr> <td colspan="2">
                        <input class="inputLogin" type="password" name="passwordSecond" placeholder="Unesite šifru ponovo." size="50" maxlength="30" />
                    </td> </tr>

                    <tr> <td colspan="2">
                        <input class="loginButtons" type="button" value="Registruj se" onclick="predjiNaStranicu('register')" />
                    </td> </tr>

                    <tr> 
                        <td>
                            <input class="loginButtons" type="button" value="Vratite se na prijavljivanje" onclick="animacijaRegistracijeNestaje()" style="float: left; margin-top: 15px;" />
                         </td>

                         <td>
                            <a href="glavnaStranicaGost.html"><input class="loginButtons" type="button" value="Nastavite kao gost" style="margin-top: 15px;" /></a>
                        </td> 
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div id="zaboravljenaSifraPozadina">
        <div id="zaboravljenaSifraPanel">
            <p>Korisničko ime:</p>
            <input id="zaboravljenaSifraPanelUsername" class="inputLogin" type="text" placeholder="Unesite korisničko ime." size="35" maxlength="30" />
            <p>Uputstvo za prijavljivanje će Vam biti poslato putem mejla.<br />Klikom na dugme "Potvrdi" prozor će se zatvoriti.<br />Ukoliko ste se predomislili, kliknite van ovog prozora.</p>
            <input id="zaboravljenaSifraPotvrdi" class="loginButtons" type="button" value="Potvrdi" />
        </div>
    </div>

    <script src="../static/js/index.js"></script>
</body>
</html>
