/* Marko Mirković 197/19 */

body {
    margin: 0;
    min-height: 100vh;
    width: 100vw;
    background-color: #f5f0f6;
    font-family: Verdana, sans-serif;
    overflow-x: hidden;
}

input:focus {
    outline: none;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color:#f5f0f6;
}

a:hover {
    color:#f5f0f6;
}

a:visited {
    color:#f5f0f6;
}

header {
    background-color: #ef8354;
    height: 60px;
}

header p {
    font-family: 'Bilbo Swash Caps';
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    padding: 0;
    margin: 0;
    color: #f5f0f6;
}

header span {
    position: relative;
    color: #f5f0f6;
    text-align: center;
    height: fit-content;
    font-size: 14px;
    top: 18px;
    cursor: pointer;
}

header>form>input {
    background-color: transparent;
    font-size: 14px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 16px;
    color: white;
    border: none;
}

nav>form {
    display: inline-block;
    width: 50%;
    padding: 0;
}

nav>form>input {
    background-color: #ef8354;
    color: #f5f0f6;
    font-size: 12px;
    border: 0;
    height: 36px;
    width: 100%;
}

#dugmeSviSmestaji {
    border-bottom-right-radius: 35px;
}

#dugmePredlozeniSmestaji {
    border-bottom-left-radius: 35px;
    background-color: #bf6943;
}
